/* 
    Mobile First Approach
*/
/* By Default for Mobile: 1px - 480px */
/* h1{
    color: red;
} */

/* Tablet: 481px - 768px */
/* @media screen and (min-width: 481px) {
    h1{
        color: yellow
    }
} */

/* Desktop: 769px - dst */
/* @media screen and (min-width: 769px){
    h1{
        color: green
    }
} */

/* 
    Desktop First Approach
*/
/* By Default for Large Screen */
h1 {
  color: green;
}

/* Tablet: 481px - 768px */
@media screen and (max-width: 768px) {
  h1 {
    color: yellow;
  }
}

/* Mobile: 1px - 480px */
@media screen and (max-width: 480px) {
  h1 {
    color: red;
  }
}
