:root {
  font-size: 12px;
}

#wrapper-01 {
  font-size: 2em;
}

#wrapper-01 > div {
  font-size: 12px;
}

#wrapper-01 > div > p {
  font-size: 0.5em;
}

#wrapper-02 {
  font-size: 1rem;
}

#wrapper-02 > p {
  font-size: 2.5rem;
}

#wrapper-03 {
  background-color: bisque;
  width: 50vw;
  height: 50vh;
}

#par-01 {
  font-size: 3vmax;
}
